@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Lexend, sans-serif;
}
.section {
    position: relative;
    padding: 0 40px;
}
.section__content{
    flex: 1;
    display: grid;
    place-items: center;
}
.section--about{
    background: #864AF9;
    color: white;
    padding: 40px;
    margin-bottom: 40px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-40px * 7))
    }
}


.section--hello {
    height: 100vh;
    padding: 40px;
    margin-bottom: 20px;
}

.hello {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-bottom: 40px;
}


.hello__img {
    height: 168px;
    width: 168px;
    border-radius: 100%;
    position: relative;
}
.hello__img img {
    border-radius: 100%;
}

@keyframes avatar-appear {
    0% {
        height: 168px;
        top: 0;
    }

    100% {
        top: -84px;

        height: 252px;
    }
}
.hello__stack {
    animation: 1s ease-out 0s 1 avatar-appear;

    position: absolute;
    width: 100%;
    border-radius: 84px;
    overflow: visible;
    height: 252px;
    top: -84px;
    left: 0;

    background: linear-gradient(#1A060F, #864AF9);
    z-index: -1;
}

.hello__title {
    font-size: 48px;
    white-space: pre-line;
    font-weight: 700;
    line-height: 48px;
}
.title--thin {
    font-size: 36px;
    font-weight: 200;
}

.side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 93px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.links--social {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.text--fixed {
    position: fixed;
    bottom: 40px;
    right: 40px;
    animation: to-fixed 0.5s;
}
@keyframes to-fixed {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}


.links__item {
    width: 36px;
    height: 36px;
    position: relative;

}
.links__link {
    border-bottom: 2px solid #fff;

}
.links__link {
    font-size: 36px;
    line-height: 36px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.links__link img{
    width: 36px;
    height: 36px;
    position: relative;
}

.links__link:after {
    content: "";
    width: 4px;
    top: 0;
    bottom: 0;
    opacity: 0;
    height: 36px;
    left: -6px;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
    background: #864AF9;
    position: absolute;
}
.links__link:hover:after {
    opacity: 1;
}

.wrapper {

    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    min-height: 60vh;
    position: relative;

}
.wrapper--skill {
    max-width: 1200px;
}
.wrapper--hello {
    max-width: 1700px;
}

.header {
    display: flex;
    justify-content: space-between;
}


.btn {
    background: #864AF9;
    color: white;
    border-radius: 20px;
    display: flex;
    height: 40px;
    padding: 8px 16px ;
    align-items: center;
    justify-content: center;
}
.btn--contact {
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(90deg, #1A060F, #864AF9);
    background-size: 200% auto;
    animation: anime 2s infinite;
}
.btn--contact:hover {


}

@keyframes anime{
    0% {
        background-position: 0 92%
    }
    50% {
        background-position: 100% 9%
    }
    100% {
        background-position: 0 92%
    }


}
.content {
    flex: 1;
    display: flex;
    justify-content: space-between;

}




.btn--icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: black;
    background: none;
}
.btn--icon span {
    font-size: 24px;
}

.btn--outlined {
    background: none;
    border: 1px solid;
    color: black;
}

.btn--scroll-down {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0;
    border: 1px solid #864AF9;
}





.headline {
    font-size: 32px;
    font-weight: 600;
    position: relative;
}

.headline:after {
    content: "";
    position: absolute;
    background: #864AF9;
    bottom: -2px;
    height: 6px;
    left: 0;
    width: 80px;
    border-radius: 4px;
}
.headline--white:after{
    background: white;
}


.text {
    font-weight: 300;
    font-size: 24px;
}

.text--about {

    vertical-align: center;
    max-width: 1000px;

    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

.chips {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    gap: 40px;
}
.can {
    flex: 1;
}


.chips--h-flow {
    flex-direction: row;
    gap: 16px;
}
.chips__item {
    border-radius: 40px;
    padding: 4px 16px;
    background: linear-gradient(45deg, #864AF9, #EDE3FF);
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 40px;
    color: white;
    position: relative;
}
.chips__item--skill {
    font-size: 18px;
    background: none;
    border: 1px solid #864AF9;
    color: #864AF9;
}
.chips__item--in-progress:after {
    z-index: 20;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}
.chips__item--in-progress::before {
    content: "Learn";
    position: absolute;
    font-size: 18px;
    color: #864AF9;
    opacity: 1;
    text-align: center;
    width: 100%;
    bottom: -28px;
    left: 0;
}
.platforms {
    flex: 1;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.platforms__item {
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    border: 2px solid #EDE3FF;
    font-weight: 300;
    position: relative;
}

.platforms__item h3 {
    font-size: 30px;
    font-weight: 500;
}

.skills__icon {
    height: 40px;
    font-size: 40px;
    color: #864AF9;
}